{
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "editorconfig": true,
  "jsxSingleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "all"
}
