@mixin switchPictogram($content_url) {
  content: url($content_url);
  position: absolute;
  width: 28px;
  height: 28px;
  top: 50%;
  transform: translateY(-50%);
  transition: .4s;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
}

.checker {
  &:before {
    @include switchPictogram("../../assets/icons/moon.svg");
    left: -45px;
  }

  &:after {
    @include switchPictogram("../../assets/icons/sun.svg");
    right: -45px;
  }
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider:before {
  transform: translateX(26px);
}


input:not(:checked) ~ .checker:after {
  opacity: 0;
}

input:checked ~ .checker:before {
  opacity: 0;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hidden {
  display: none;
}