@layer theme, base, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --breakpoint-xs: 639px;
  --color-basic-blue: #1062a3;
  --color-brand-00: #f5fbff;
  --color-brand-700: #0061a0;
  --color-brand-900: #004571;
  --color-neutral-50: #f8f8ff;
  --color-neutral-300: #c7c8d5;
  --color-neutral-600: #808191;
  --color-neutral-700: #6a6b7a;
  --color-neutral-900: #40414d;
  --color-other-orange: #f6b382;
  --color-other-purple: #949dff;
  --color-other-red: #ff7f96;
  --shadow-header: 0 3px 2px -2px #eaeaea;
  --animate-sheet-open: sheet-open 200ms cubic-bezier(0, 0, 0.2, 1);
  --animate-sheet-close: sheet-close 200ms cubic-bezier(0, 0, 0.2, 1);

  @keyframes sheet-open {
    from {
      height: 0;
    }
    to {
      height: calc(100% - var(--sheet-top));
    }
  }

  @keyframes sheet-close {
    from {
      height: calc(100% - var(--sheet-top));
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  h1 {
    @apply mb-4 text-[40px] leading-12;
  }
}
